<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('app_excuse_index') }}">Page excuse de dev

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_excuse_list') }}">Liste des excuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_excuse_lost') }}">Lost</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_error') }}">Error pages</a>
                </li>
            </ul>

        </div>
    </div>
</nav>
