{% extends "base.html.twig" %}

{% block title %}
    Http_code page
{% endblock %}

{% block body %}
    <div>
        <h1>
            Belle excuse ca !
        </h1>

            <p>
                {{ excuse.tag }}
                {{ excuse.message }}
            </p>


    </div>
{% endblock %}
