{% extends "base.html.twig" %}
{% block title %}
    Liste des excuses
{% endblock %}

{% block body %}
        <table class="display" id="myTable">
            <thead>
                <tr>
                   <th> HTTP_CODE</th>
                    <th> TAG </th>
                    <th> MESSAGE </th>
                </tr>

    {% for excuse in excuse %}
            <tbody>
            <tr>
                <td> {{excuse.httpcode}}</td>
                <td> {{excuse.tag}}</td>
                <td>{{excuse.message}}</td>
            </tr>
            </tbody>
            {% endfor %}
        </table>

{% endblock %}
