{% extends 'base.html.twig' %}

{% block title %}
    Lost page
{% endblock %}


{% block body %}
    <div class="text-center mt-5">
        <h1> Vous allez être rediriger dans 5 secondes vers la page principal </h1>

    </div>
    <iframe src="https://giphy.com/embed/OfpdDt12u1Psk" width="480" height="272"  class="giphy-embed" allowFullScreen style="width: 50em; height:40em; margin-left: 35em;"></iframe>
{% endblock %}