{% extends 'base.html.twig' %}

{% block title %}
    Lost page
{% endblock %}


{% block body %}
    <div class="">
        <h1> Vous allez être rediriger dans 5 secondes vers la page principal </h1>
    </div>
{% endblock %}